.close {
  background-image: url("../img/burger-close.png");
}

.btn-search {
  background-image: url("../img/search.png");
}

.btn-search-close {
  background-color: white;
  background-image: url("../img/close.png");
  background-size: 60%;
}

.btn-search-close:focus, .btn-search-close:hover {
  -webkit-filter: drop-shadow(0 0 3px #4e504f);
          filter: drop-shadow(0 0 3px #4e504f);
}

.main-menu {
  position: absolute;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100vmax;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  z-index: 20;
  z-index: 10;
}

.main-menu__container {
  position: relative;
  min-height: 725px;
  max-height: 1024px;
}

.main-menu__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 32px;
}

.main-menu__header::before {
  content: "";
  position: absolute;
  height: 50.814815521240234px;
  width: 96.54814910888672px;
  left: 73px;
  top: 19px;
  background: url("../img/logo.png") no-repeat 0 0;
}

.main-menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.main-menu__input {
  font-size: inherit;
  width: 220px;
}

.main-menu__nav li {
  margin-bottom: 32px;
}

.main-menu__link {
  position: relative;
  color: #1B1C21;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main-menu__link:focus, .main-menu__link:hover {
  color: #7E7E82;
}

.main-menu__link:active {
  color: #7E7E82;
}

.main-menu__footer {
  position: absolute;
  bottom: 0;
}

.main-menu__footer .connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__footer > a {
  display: block;
  color: #1B1C21;
}

.main-menu__footer > a:focus {
  -webkit-filter: drop-shadow(0 0 2px #41F6D7);
          filter: drop-shadow(0 0 2px #41F6D7);
}

.main-menu__footer > a:hover {
  color: #41F6D7;
}

.main-menu__footer > a:active {
  color: #41F6D7;
}

.main-menu__footer .mail-cps {
  margin-top: 16px;
  margin-bottom: 12px;
}

.main-menu__footer .tel-cps {
  margin-bottom: 8px;
}

.show-search-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 88px;
}

.menu-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.selected::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  display: inline-block;
  width: 4px;
  height: 32px;
  margin-left: -16px;
  background: url("../img/highlight-mini.png") no-repeat 0 center;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.lang__link {
  margin-right: 7px;
  color: #1B1C21;
}

.lang__link:focus, .lang__link:hover {
  color: #7E7E82;
}

.lang__link:active {
  color: #7E7E82;
}

.active-lang {
  color: #7E7E82;
}

@media only screen and (min-width: 360px) {
  .main-menu {
    width: 360px;
    left: -360px;
  }
  .main-menu__container {
    padding: 0 24px !important;
  }
  .selected::before {
    margin-left: -24px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu {
    width: 320px;
    left: -320px;
    -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
}

@media only screen and (min-width: 1120px) {
  .main-menu {
    width: 320px;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-menu__header {
    min-height: 113px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu__header::before {
    content: "";
    position: absolute;
    height: 50.814815521240234px;
    width: 96.54814910888672px;
    left: 0px;
    top: 30px;
    background: url("../img/logo.png") no-repeat 0 0;
  }
  .btn-menu {
    display: none;
  }
  .show-search-form {
    height: 107px;
  }
}
