@media only screen and (min-width: 360px) {
  .main-menu__container {
    padding: 0 24px;
  }
  .main-menu__nav-link_active::before {
    margin-left: -24px;
  }
  .services__content::after {
    content: "";
    margin: 0 auto;
  }
  .modal-window__container {
    padding-top: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  .header__logo {
    left: 107px;
  }
  .menu::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    margin-left: 20px;
    vertical-align: middle;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
  .connection[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title::before {
    margin-left: -24px;
  }
  .services__title {
    margin-bottom: 32px;
  }
  .services__nav {
    margin-bottom: 32px;
  }
  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__content::after {
    margin: 0;
    width: 360px;
    height: 208px;
    border-radius: 6px;
    background-image: url("../img/bg-768.webp");
  }
  .services__content-text-wrapper {
    padding-right: 36px;
    width: 50%;
  }
  .services__content-text {
    max-height: 160px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .brands-container,
  .types-container {
    min-height: 264px;
    margin: 0 -24px;
  }
  .swiper-container.fade-copy::after {
    display: none;
  }
  .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    height: 184px;
    overflow: hidden;
    padding-top: 24px;
    -webkit-transform: none !important;
            transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
  .swiper-slide {
    width: 224px !important;
    margin: 0 0 16px 24px !important;
  }
  .show-more-label {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
  .repair-services {
    height: auto;
    width: auto !important;
    margin: 0 !important;
    border-bottom: 1px solid #EAEAEA;
  }
  .repair-services:last-child {
    border-bottom: none;
  }
  .repair-services .card__title {
    display: none;
  }
  .repair-services-container {
    height: auto;
    overflow: auto;
  }
  .repair-services-container > .card[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .repair-services-container > .card {
    background-color: inherit;
    padding-left: 16px;
    padding-right: 180px;
  }
  .repair-services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto !important;
    height: auto !important;
    padding: 0 16px;
    background-color: white;
    border-radius: 6px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
    padding-right: 160px;
    border-radius: 0px;
    height: 64px;
  }
  .card__type-service, .card__price, .card__duration {
    margin-bottom: 0;
  }
  .card__type-service {
    min-width: 348px;
  }
  .card__price {
    min-width: 74px;
  }
  .card__duration {
    min-width: 81px;
  }
  .card .btn-dropdown {
    right: 0px;
  }
  .service-prices__info {
    margin-top: 24px;
    margin-bottom: 47px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px 0;
  }
  .footer__item {
    width: 33.333%;
  }
  .footer__item:first-child {
    text-align: left;
  }
  .footer__item:last-child {
    text-align: right;
  }
  .main-menu {
    width: 320px;
    left: -320px;
    -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
  .main-menu__body {
    margin-top: 18px;
  }
  .main-menu__nav-list {
    margin-bottom: 268px;
  }
  .menu-open {
    -webkit-transform: translateX(320px);
            transform: translateX(320px);
  }
  .contacts__tel-cps {
    margin-bottom: 40px;
  }
  .modal-window {
    width: 320px;
    right: -320px;
    -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }
  .modal-window__container {
    padding-top: 24px;
  }
  .modal-window-open {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
  }
  .show-brands,
  .show-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1120px) {
  .wrapper > .container {
    margin-left: 320px;
  }
  .container {
    padding: 0 32px;
  }
  .header {
    display: none;
  }
  .handling[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  .handling::before {
    display: none;
  }
  .title::before {
    margin-left: -32px;
  }
  .services__title {
    margin-bottom: 8px;
  }
  .services__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 12px;
  }
  .services__nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: auto;
  }
  .services__content::after {
    width: 531px;
    height: 307px;
    background-image: url("../img/bg-1120.jpg");
  }
  .services__content-text {
    margin-bottom: 14px;
  }
  .brands-container,
  .types-container {
    height: 282px;
    margin: 0 -32px;
  }
  .swiper-slide {
    width: 240px !important;
    margin: 0 0 16px 32px !important;
  }
  .show-brands,
  .show-types {
    margin: 24px 32px;
  }
  .repair-services {
    width: auto !important;
  }
  .repair-services:last-child {
    border-bottom: none;
  }
  .repair-services .card__title {
    display: none;
  }
  .fade-copy::after {
    display: none;
  }
  .main-menu__header .btn-close {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .modal-window {
    right: -550px;
  }
  .modal-window__container {
    position: relative;
    margin-top: 0;
  }
  .modal-window__container > .btn {
    position: absolute;
    top: -8px;
    left: -65px;
  }
  .modal-window-open {
    -webkit-transform: translateX(-550px);
            transform: translateX(-550px);
  }
  .main-menu {
    visibility: visible;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: 0;
  }
  .main-menu__header {
    min-height: 113px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu__header::before {
    left: 0px;
    top: 30px;
  }
  .menu-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
