@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
body {
  font-family: 'TT Lakes';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-color: #F8F8F8;
}

/* Visually-hidden
===================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
}

.visibility-hidden {
  visibility: hidden;
}

[hidden] {
  display: none;
}

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

/* Container
===================*/
.container {
  min-width: 320px;
  padding: 0 16px;
}

/* Header
===================*/
.header {
  min-height: 88px;
  position: relative;
  border-bottom: 1px solid #D9FFF5;
  background-color: #fff;
}

.header::before {
  content: "";
  position: absolute;
  height: 50.814815521240234px;
  width: 96.54814910888672px;
  left: 73px;
  top: 19px;
  background: url("../img/logo.png") no-repeat 0 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn:hover {
  -webkit-filter: drop-shadow(0 0 3px #0b7458);
          filter: drop-shadow(0 0 3px #0b7458);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn:active {
  -webkit-box-shadow: inset 0 0 15px #da454c;
          box-shadow: inset 0 0 15px #da454c;
}

.btn:focus {
  -webkit-filter: drop-shadow(0 0 3px #0b7458);
          filter: drop-shadow(0 0 3px #0b7458);
}

.btn-menu {
  background-image: url("../img/burger.png");
}

.btn-call {
  background-image: url("../img/call.png");
}

.btn-chat {
  background-image: url("../img/chat.png");
}

.btn-profile {
  background-image: url("../img/profile.png");
}

.btn-repair {
  background-image: url("../img/repair.png");
}

.btn-checkstatus {
  background-image: url("../img/checkstatus.png");
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection button {
  margin-right: 16px;
}

.handling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.handling[hidden] {
  display: none;
}

.handling::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 32px;
  margin: 0 4px 0 0;
  background-color: #EAEAEA;
  border-radius: 1px;
}

.handling button {
  margin-left: 16px;
}

.services__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__title {
  position: relative;
  margin: 24px 0px;
}

.services__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4px;
  height: 40px;
  margin-left: -16px;
  background: url("../img/highlight.png") no-repeat 0 center;
}

.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 700;
  color: #1B1C21;
}

.services-nav {
  position: relative;
  margin-right: -16px;
}

.services-nav::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 40px;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #F8F8F8), to(rgba(248, 248, 248, 0.0001)));
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  pointer-events: none;
}

.services-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 24px;
}

.services-nav__wrapper > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-nav__link {
  padding: 8px 16px;
  color: #7E7E82;
  white-space: nowrap;
  border: 2px solid transparent;
  border-radius: 6px;
}

.services-nav__link:last-child {
  margin-right: 0;
}

.services-nav__link:focus, .services-nav__link:hover {
  color: #69aedd;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services-nav__link_active {
  background-color: #fff;
  border-color: #B8FFEC;
}

.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-content::after {
  content: "";
  display: inline-block;
  width: 320px;
  height: 176px;
  margin: 16px auto 0;
  background: url("../img/bg-320.jpg") no-repeat center center;
  background-size: contain;
}

.service-content__text {
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.service-content__text p {
  margin-bottom: 1.6em;
}

.service-content__read-more-label::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url("../img/more.png") no-repeat 0 center;
  background-size: cover;
}

.service-content__read-more-label::after {
  content: "Читать далее";
  margin-left: 16px;
}

.service-content__read-more-checkbox:focus ~ .service-content__read-more-label,
.service-content__read-more-checkbox:hover ~ .service-content__read-more-label {
  -webkit-filter: drop-shadow(0 0 1px #00bfff);
          filter: drop-shadow(0 0 1px #00bfff);
}

.service-content__read-more-checkbox:checked + .service-content__text {
  max-height: auto;
  margin-bottom: 0;
}

.service-content__read-more-checkbox:checked ~ .service-content__read-more-label::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service-content__read-more-checkbox:checked ~ .service-content__read-more-label::after {
  content: "Свернуть";
}

.footer {
  padding-top: 16px;
}

.footer__item {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #7E7E82;
  opacity: 0.72;
}

.footer__item a {
  color: #7E7E82;
}

.close {
  background-image: url("../img/burger-close.png");
}

.btn-search {
  background-image: url("../img/search.png");
}

.btn-search-close {
  background-color: white;
  background-image: url("../img/close.png");
  background-size: 60%;
}

.btn-search-close:focus, .btn-search-close:hover {
  -webkit-filter: drop-shadow(0 0 3px #4e504f);
          filter: drop-shadow(0 0 3px #4e504f);
}

.main-menu {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 10;
}

.main-menu__container {
  position: relative;
  min-height: 725px;
  max-height: 1024px;
}

.main-menu__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0 32px;
}

.main-menu__header::before {
  content: "";
  position: absolute;
  height: 50.814815521240234px;
  width: 96.54814910888672px;
  left: 73px;
  top: 19px;
  background: url("../img/logo.png") no-repeat 0 0;
}

.main-menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.main-menu__input {
  font-size: inherit;
  width: 220px;
}

.main-menu__nav li {
  margin-bottom: 32px;
}

.main-menu__link {
  position: relative;
  color: #1B1C21;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.main-menu__link:focus, .main-menu__link:hover {
  color: #7E7E82;
}

.main-menu__link:active {
  color: #7E7E82;
}

.main-menu__footer {
  position: absolute;
  bottom: 0;
}

.main-menu__footer .connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__footer > a {
  display: block;
  color: #1B1C21;
}

.main-menu__footer > a:focus {
  -webkit-filter: drop-shadow(0 0 2px #41F6D7);
          filter: drop-shadow(0 0 2px #41F6D7);
}

.main-menu__footer > a:hover {
  color: #41F6D7;
}

.main-menu__footer > a:active {
  color: #41F6D7;
}

.main-menu__footer .mail-cps {
  margin-top: 16px;
  margin-bottom: 12px;
}

.main-menu__footer .tel-cps {
  margin-bottom: 8px;
}

.show-search-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 88px;
}

.menu-open {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.selected::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  display: inline-block;
  width: 4px;
  height: 32px;
  margin-left: -16px;
  background: url("../img/highlight-mini.png") no-repeat 0 center;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.lang__link {
  margin-right: 7px;
  color: #1B1C21;
}

.lang__link:focus, .lang__link:hover {
  color: #7E7E82;
}

.lang__link:active {
  color: #7E7E82;
}

.active-lang {
  color: #7E7E82;
}

@media only screen and (min-width: 360px) {
  .selected::before {
    margin-left: -24px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu {
    width: 320px;
    left: -320px;
    -webkit-box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
            box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
  .menu-open {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media only screen and (min-width: 1120px) {
  .main-menu {
    visibility: visible;
    width: 320px;
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-menu__header {
    min-height: 113px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-menu__header::before {
    content: "";
    position: absolute;
    height: 50.814815521240234px;
    width: 96.54814910888672px;
    left: 0px;
    top: 30px;
    background: url("../img/logo.png") no-repeat 0 0;
  }
  .btn-menu {
    display: none;
  }
  .show-search-form {
    height: 107px;
  }
}

.modal-window {
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 10;
}

.modal-window__container {
  margin-top: 24px;
}

.modal-window__title {
  position: relative;
  margin: 40px 0 24px;
  font-size: 24px;
  line-height: 32px;
}

.modal-window__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window__input {
  margin-bottom: 16px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
}

.modal-window__warning-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
}

.modal-window__warning-text > a {
  color: #FF3E79;
}

.modal-window__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 75px;
}

.modal-window-open {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.btn-dropdown {
  height: 32px;
  width: 136px;
  padding: 4px 10px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  border-radius: 16px;
}

.btn-dropdown::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 10px;
  margin-left: 12px;
  background-image: url("../img/dropdown-white.png");
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .modal-window {
    width: 440px;
    right: -440px;
    -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }
  .modal-window-open {
    -webkit-transform: translateX(-440px);
            transform: translateX(-440px);
  }
}

@media only screen and (min-width: 1120px) {
  .modal-window {
    right: -550px;
  }
  .modal-window__container {
    position: relative;
    margin-top: 0;
  }
  .modal-window__container > .btn {
    position: absolute;
    top: -8px;
    left: -65px;
  }
  .modal-window-open {
    -webkit-transform: translateX(-550px);
            transform: translateX(-550px);
  }
}

.repaired-devices {
  margin: 0 -16px;
  border-bottom: 1px solid #D9FFF5;
}

.link-slider-title {
  padding: 16px;
  min-height: 56px;
  font-weight: 400;
  color: #7E7E82;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#fff));
  background: linear-gradient(90deg, #F8F8F8, #fff);
  border-top: 1px solid #D9FFF5;
}

.link-slider {
  position: relative;
  padding: 16px 0 16px 16px;
}

.link-slider::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 24px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #F8F8F8), to(rgba(248, 248, 248, 0.0001)));
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  pointer-events: none;
  z-index: 10;
}

.link-slider__slide {
  width: 240px !important;
}

.link-slider__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  color: inherit;
}

.link-slider__link::after {
  position: absolute;
  bottom: 16px;
  right: 16px;
  content: "";
  width: 40px;
  height: 40px;
  background: url("../img/dropdown.png") center center no-repeat;
  border: 2px solid #FF3E79;
  border-radius: 20px;
}

.link-slider__link:focus, .link-slider__link:hover {
  -webkit-box-shadow: inset 0 0 5px #B8FFEC;
          box-shadow: inset 0 0 5px #B8FFEC;
}

.brands-container {
  height: 154px;
}

.brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

.brand img {
  width: auto;
}

.types-container {
  height: 228px;
}

.type {
  height: 160px;
}

.repair-services-container {
  height: 260px;
}

.repair-services {
  height: 200px;
  width: 260px !important;
}

.card {
  position: relative;
  height: 200px;
  padding: 16px;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.2px;
  border-radius: 6px;
}

.card__title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  color: #7E7E82;
  opacity: 0.72;
}

.card__type-service, .card__price, .card__duration {
  margin-bottom: 16px;
}

.btn-to-oder {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 32px;
}

.swiper-container-horizontal > .type-pagination {
  bottom: 18px;
}

.swiper-container-horizontal > .repair-services-pagination {
  bottom: 10px;
}

.show-more-label {
  display: none;
  margin: 24px 32px 32px;
}

.show-more-label::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 11px;
  background: url("../img/more.png") no-repeat 0 center;
  background-size: cover;
}

.show-more-label::after {
  content: "Показать все";
  margin-left: 16px;
}

.show-more-checkbox:focus ~ .show-more-label,
.show-more-checkbox:hover ~ .show-more-label {
  -webkit-filter: drop-shadow(0 0 1px #00bfff);
          filter: drop-shadow(0 0 1px #00bfff);
}

.show-more-checkbox:checked + .brands-container,
.show-more-checkbox:checked + .types-container {
  height: auto;
}

.show-more-checkbox:checked ~ .show-more-label::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show-more-checkbox:checked ~ .show-more-label::after {
  content: "Свернуть";
}

.service-prices__text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.service-prices__link {
  display: block;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.service-prices__link::after {
  display: inline-block;
  width: 8px;
  height: 24px;
  margin-left: 16px;
  vertical-align: middle;
  content: "";
  background: url("../img/dropdown.png") center center no-repeat;
}

@media only screen and (min-width: 360px) {
  .repaired-devices {
    margin: 0 -24px;
  }
  .link-slider-title {
    padding-left: 24px;
  }
  .link-slider {
    padding: 24px 0 24px 24px;
  }
}

@media only screen and (min-width: 768px) {
  .brands-container,
  .types-container {
    height: 208px;
  }
  .link-slider {
    overflow: hidden;
  }
  .link-slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .link-slider__slide {
    width: 224px !important;
    margin-right: 24px;
    margin-bottom: 16px;
  }
  .show-more-label {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
  .repair-services {
    height: auto;
    width: auto !important;
    margin: 0 !important;
    border-bottom: 1px solid #EAEAEA;
  }
  .repair-services:last-child {
    border-bottom: none;
  }
  .repair-services .card__title {
    display: none;
  }
  .repair-services-container {
    height: auto;
    overflow: auto;
    padding-right: 24px;
    border-radius: 6px;
  }
  .repair-services-container > .card[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .repair-services-container > .card {
    background-color: inherit;
    padding-left: 16px;
    padding-right: 180px;
  }
  .repair-services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto !important;
    height: auto !important;
    padding: 0 16px;
    background-color: white;
    border-radius: 6px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
    padding-right: 160px;
    border-radius: 0px;
    height: 64px;
  }
  .card__type-service, .card__price, .card__duration {
    margin-bottom: 0;
  }
  .card__type-service {
    min-width: 348px;
  }
  .card__price {
    min-width: 74px;
  }
  .card__duration {
    min-width: 81px;
  }
  .btn-to-oder {
    right: 0px;
  }
}

@media only screen and (min-width: 1120px) {
  .repaired-devices {
    margin: 0 -32px;
  }
  .link-slider-title {
    padding-left: 32px;
  }
  .link-slider {
    padding: 32px;
  }
  .link-slider__slide {
    margin-right: 32px;
  }
  .service-prices > .container {
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .link-slider__slide {
    width: 240px !important;
  }
  .repair-services {
    width: auto !important;
  }
}

@media only screen and (max-width: 320px) {
  .service-content::after {
    margin: 16px -16px 0;
  }
}

@media only screen and (min-width: 360px) {
  .container {
    padding: 0 24px;
  }
  .services__title::before {
    margin-left: -24px;
  }
  .service-content::after {
    width: 360px;
    height: 208px;
    background: url("../img/bg-768.jpg") no-repeat center center;
  }
}

@media only screen and (min-width: 768px) {
  .header::before {
    left: 107px;
  }
  .menu::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 32px;
    margin-left: 20px;
    vertical-align: middle;
    background-color: #EAEAEA;
    border-radius: 1px;
  }
  .connection[hidden] {
    display: block;
  }
  .services-nav__wrapper {
    margin-bottom: 32px;
  }
  .service-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service-content__wrapper {
    width: 50%;
  }
  .service-content__text {
    max-height: 160px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .service-content::after {
    margin: 0 0 0 24px;
    border-radius: 6px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__item {
    width: 33.333%;
    margin-bottom: 24px;
  }
  .footer__item:first-child {
    text-align: left;
  }
  .footer__item:last-child {
    text-align: right;
  }
}

@media only screen and (min-width: 1120px) {
  .wrapper > .container {
    margin-left: 320px;
    padding: 0 32px;
  }
  .container {
    max-width: 1120px;
  }
  .header {
    display: none;
  }
  .handling[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  .handling::before {
    display: none;
  }
  .handling__btn-label {
    margin: 0 9px 0 32px;
  }
  .services__title {
    margin-top: 42px;
  }
  .services__title::before {
    margin-left: -32px;
  }
  .services-nav__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-nav__link[hidden] {
    display: block;
  }
  .service-content::after {
    width: 531px;
    height: 307px;
    margin: 0 30px 0 0;
    border-radius: 6px;
    background: url("../img/bg-1120.jpg") no-repeat center center;
  }
}
