

.close {
    background-image: url("../img/burger-close.png");
}
.btn-search {
    background-image: url("../img/search.png");
}

.btn-search-close {
    background-color: white;
    background-image: url("../img/close.png");
    background-size: 60%;

        &:focus {
        filter: drop-shadow(0 0 3px #4e504f);
    }
    
    &:hover {
        filter: drop-shadow(0 0 3px #4e504f);
        transition: 0.2s linear;
    }
}



.main-menu {
    position: absolute;
    width: 320px;
    height: 100vmax;
    top: -88px;
    left: -320px;
    background-color: #fff;
    transition: transform 0.5s ease-in;
    
    z-index: 10;
    &__container {
        position: relative;
        min-height: 725px;
        max-height: 1024px;
    }
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 24px 0 32px;

        &::before {
            content: "";
            position: absolute;
            height: 50.814815521240234px;
            width: 96.54814910888672px;
            left: 73px;
            top: 19px;
            background: url("../img/logo.png") no-repeat 0 0;
        }
    }
    
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }

    &__input {
        font-size: inherit;
        width: 220px;
    }

    &__nav li{
        margin-bottom: 32px;
    }

    &__link {
        position: relative;
        color: #1B1C21;
        transition: all .2s ease;
    }
    
    &__link:focus,
    &__link:hover {
        color: #7E7E82;   
    }

    &__link_active {
        color: #7E7E82;
        &::before {
            content: "";
            position: absolute;
            top: -4px;
            left: 0;
            display: inline-block;
            width: 4px;
            height: 32px; 
            margin-left: -16px;       
            background: url("../img/highlight-mini.png") no-repeat 0 center;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        
    }
    &__footer .connection {
        display: flex;
    }

    &__footer > a {
        display: block;
        color: #1B1C21;
    }
    
    &__footer > a:focus {
        filter: drop-shadow( 0 0 2px #41F6D7);
    }

    &__footer > a:hover {
        color: #41F6D7;
    }

    &__footer > a:active {
        color: #41F6D7;   
    }

    &__footer .mail-cps {
        margin-top: 16px;
        margin-bottom: 12px;
    }

    &__footer .tel-cps {
        margin-bottom: 8px;
    }
}
.show-search-form {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 88px;
}

.main-menu-open {
    transform: translateX(100%);
}


.lang {
    display: flex;
    margin-bottom: 32px;
    
    &__link {
        margin-right: 7px;
        color: #1B1C21;
    }

    &__link:focus,
    &__link:hover {
        color: #7E7E82;   
    }
    
}

.active-lang {
    color: #7E7E82;
}
