.modal-window {
    position: absolute;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vmax;
    background-color: white;
    transition: transform 0.5s ease-in;
    z-index: 11;

    &__container {
        margin-top: 24px;
    }
    &__title {
        position: relative;
        margin: 40px 0 24px;
        font-size: 24px;
        line-height: 32px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__input {
        margin-bottom: 16px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
    }
    &__warning-text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        & > span {
            color: #FF3E79;
        }
    }
    &__btn-wrapper {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 75px;
    }
}
.modal-window-open {
    transform: translateX(-320px);
}
.btn-dropdown {
    height: 32px;
    width: 136px;
    padding: 4px 10px;
    color: white;
    font-family: inherit;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    background: #FF3E79;
    border-radius: 16px;
    &::after {
        display: inline-block;
        content: "";
        width: 8px;
        height: 10px;
        margin-left: 12px;
        background-image: url('../img/dropdown.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 768px) {
    .modal-window {
        width: 440px;
        right: -440px;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
}
@media only screen and (min-width: 1120px) {

    .modal-window {
        right: -550px;
        &__container {
            position: relative;
            margin-top: 0;
            padding: 0 24px !important;
        }
        &__container > .btn-chat {
            position: absolute;
            top: -8px;
            left: -65px;
        }
    }
    .modal-window-open {
        transform: translateX(-550px);
    }
    
    
}