@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
font-family: 'TT Lakes';
src: url('../fonts/TTLakes-Medium.eot');
src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'TT Lakes';
src: url('../fonts/TTLakes-Regular.eot');
src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}



/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}
input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
img{width: 100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*--------------------*/
body {
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: #F8F8F8;
}
/* Visually-hidden
===================*/
.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: circle(0);
}
[hidden] {
    display: none;
}

.wrapper {
    min-width: 320px;
    max-width: 1440px;
    height: 100vmax;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
/* Container
===================*/
.container {
    min-width: 320px;
    padding: 0 16px;
}

/* Header
===================*/
.header {
    min-height: 88px;
    position: relative;
    border-bottom: 1px solid #D9FFF5;
    background-color: #fff;
    &::before{
        content: "";
        position: absolute;
        height: 50.814815521240234px;
        width: 96.54814910888672px;
        left: 73px;
        top: 19px;
        background: url("../img/logo.png") no-repeat 0 0;
    }
    &__menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }
    &__connection {
        display: flex;
        flex-wrap: nowrap;
        align-items: center; 
    }
}

.btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn:hover {
    filter: drop-shadow(0 0 3px #0b7458);
    transition: 0.2s linear;
}
.btn:active {
    box-shadow: inset 0 0 15px #da454c;
}
.btn:focus {
    filter: drop-shadow(0 0 3px #0b7458);
}
.btn-menu {
    background-image: url("../img/burger.png");
}
.btn-call {
    background-image: url("../img/call.png");
}
.btn-chat {
    background-image: url("../img/chat.png");
}
.btn-profile {
    background-image: url("../img/profile.png");
}
.btn-repair {
    background-image: url("../img/repair.png");
}
.btn-checkstatus {
    background-image: url("../img/checkstatus.png");
}


.menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
}

.connection {
    & button {
        margin-right: 16px;
    }
}

.handling {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &[hidden] {
        display: none;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        margin: 0 4px 0 0;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
    & button {
        margin-left: 16px;
    }

}

.services {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        margin: 24px 0px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 4px;
            height: 40px; 
            margin-left: -16px;       
            background: url("../img/highlight.png") no-repeat 0 center;
        }
    }
}

.title {
    font-size: 28px;            
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 700;
    color: #1B1C21;
}

.services-nav {
    position: relative;
    margin-right: -16px;
    
    &::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 40px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        pointer-events: none;
    }
    
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        margin-bottom: 24px;
        
        & > li {
            display: flex;
        }
    }

    &__link {
        padding: 8px 16px;
        color: #7E7E82;
        white-space: nowrap;
        border: 2px solid transparent;
        border-radius: 6px;
    }
    &__link:last-child {
        margin-right: 0;
    }
    
    &__link:focus,
    &__link:hover {
        color:  #69aedd;
        transition: .2s linear;
    }

    &__link_active {
        background-color: #fff;
        border-color: #B8FFEC;
    }
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    &::after {
        content: "";
        display: inline-block;
        width: 320px;
        height: 176px;
        margin: 16px auto 0;
        background: url("../img/bg-320.jpg") no-repeat center center;
        background-size: contain;
    }

    &__text {
        max-height: 90px;
        overflow: hidden;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    &__text p {
        margin-bottom: 1.6em;
    }
    
    &__read-more-label::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 11px;
        background: url("../img/more.png") no-repeat 0 center;
        background-size: cover;
    }
    &__read-more-label::after {
        content: "Читать далее";
        margin-left: 16px;
        
    }
    &__read-more-checkbox:focus ~ &__read-more-label,
    &__read-more-checkbox:hover ~ &__read-more-label {
        filter: drop-shadow(0 0 1px #00bfff);
    }
    &__read-more-checkbox:checked + &__text {
        max-height: none;
        margin-bottom: 0;
    }
    &__read-more-checkbox:checked ~ &__read-more-label::before {
        transform: rotate(180deg);
    }
    &__read-more-checkbox:checked ~ &__read-more-label::after {
        content: "Свернуть";
    }
}


@import "main-menu-style.scss";
@import "modal-window-style.scss";
@import "media.scss";



    



