/*=======Шрифты=========*/ 
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.woff2'),
    url('../fonts/TTLakes-Bold.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.woff2'),
    url('../fonts/TTLakes-Medium.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.woff2'),
    url('../fonts/TTLakes-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@import 'swiper.scss';
@import 'pagination.scss';

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}
input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
img{width: 100%;}
a {
    color: inherit;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*--------------------*/

body {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    vertical-align: top;
    color: #1B1C21;
    background-color: #F8F8F8;
}

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    
    clip-path: circle(0);
}
.visibility-hidden {
    visibility: hidden;
}
[hidden] {
    display: none;
}
.flex-item-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.height-auto {
    height: auto !important;
    max-height: none !important;
}
$Azure-color: #D9FFF5;
$DeepPink	: #FF3E79;
$red: #ff0022;
$white: #FFFFFF;
$DarkGray: #7E7E82;

/*Container
===================*/
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    position: relative;
    min-height: 88px;
    border-bottom: 1px solid $Azure-color;
    background-color: $white;
    &__logo {
        position: absolute;
        left: 73px;
        top: 19px;
        width: 96px;
        height: 50px;
    }
    &__menu {
        padding: 24px 0;
    }
}

.btn {
    width: 40px;
    height: 40px;
    font-size: 0;
    border-radius: 50%;
    background-color: $DeepPink	;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.1s linear;
    & img {
        width: 20px;
    }
}
.btn:focus {
    background-color: $red;
}
.btn:hover {
    background-color: $red;
    
}
.btn:active {
    box-shadow: inset 0 0 15px  #b90c40;
}

.btn-dropdown {
    min-width: 119px;
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: $white;
    background-color: $DeepPink	;
    border-radius: 16px;
    & .dropdown__icon {
        width: 7px;
        height: 10px;
        fill: $white;
    }
}
.btn-dropdown:focus {
    background-color: $red;
}
.btn-dropdown:hover {
    background-color: $red;
    
}
.btn-dropdown:active {
    box-shadow: inset 0 0 15px  #b90c40;
}
.btn-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: transparent;
    & .flex-item-alignment {
        margin-right: 16px;
    }
    & img {
        width: 8px;
        height: 11px;
    }
    &:focus,
    &:hover {
        color: $DarkGray;
    }
    &:active {
        color: $red;
    }
}


.connection {
    &[hidden] {
        display: none;
    }
    & > .btn {
        margin-right: 16px;
    }
}
.handling {
    &[hidden] {
        display: none;
    }
    &::before{
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        margin: 0 4px 0 0;
        background-color: #EAEAEA;
        border-radius: 1px;
    }
    & > .btn {
        margin-left: 16px;
    }
    &__btn-label {
        margin: 0 9px 0 32px;
        cursor: pointer;
    }
}

.services {

    &__title {
        margin: 24px 0px;
    }

    &__nav {
        position: relative;
        margin-right: -16px;
        margin-bottom: 24px;
        overflow: hidden;
    }
    &__nav-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-bottom: -10px;
        padding-bottom: 10px;
    }
    &__nav-link {
        display: inline-block;
        padding: 8px 16px;
        color: $DarkGray;
        white-space: nowrap;
        border: 2px solid transparent;
        border-radius: 6px;

        &:hover,
        &:focus {
            background-color: $white;
            transition: .1s linear;
        }
        &:active {
            color: $red;
        }
        &_active {
            background-color: $white;
            border-color: #B8FFEC;
        }
    }

    &__content {
        margin-bottom: 24px; 
       
        &::after {
            content: "";
            display: block;
            min-width: 320px;
            min-height: 176px;
            margin: 0 -16px;
            background: url("../img/bg-320.jpg") no-repeat center center;
            background-size: contain;
        }
    }

    &__content-text-wrapper {
        padding-bottom: 24px;
    }

    &__content-text {
        max-height: 90px;
        overflow: hidden;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
        & p {
            margin-bottom: 1.6em;
        }
    }

}
.read {
    &::after {
        content: "Читать далее"
    }
}

.title {
    position: relative;
    font-size: 28px;            
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 700;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 4px;
        height: 40px; 
        margin-left: -16px;       
        background: url("../img/icons/highlight.svg") no-repeat 0 center;
    }
}
.fade-copy {
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0;
        width: 24px;
        height: 100%;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        pointer-events: none;
        z-index: 10;
    }
}

.repaired-devices {
    border-bottom: 1px solid $Azure-color;
    &__title {
        min-height: 56px;
        margin: 0 -16px;
        padding: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: $DarkGray;
        background: linear-gradient(90deg, #F8F8F8, $white);
        border-top: 1px solid $Azure-color;
    }
}

.brands-container {
    height: 154px;
}
.swiper-wrapper {
    box-sizing: border-box;
}
.swiper-slide {
    width: 240px !important;
    margin-top: 16px;
    margin-bottom: 16px;
    
		&__link {
            position: relative;
            padding: 16px;
            color: inherit;
            border-radius: 6px;
            background: $white;
            border: 1px solid #EAEAEA;
            & img {
                width: auto;
            }
            &:hover,
            &:focus {
                border-color: #B8FFEC;
            }
            &:active {
                border-color: $DeepPink	;
            }
		}
}
.brand {
    height: 72px;
}
.show-brands,
.show-types {
    display: none;
    margin: 24px;
    &::after {
        content: "Показать все";
    }
}
.hide {
    & .flex-item-alignment {
        transform: rotate(180deg);
    }
    &::after {
        content: "Свернуть"
    }
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-container-horizontal>.brand-pagination {
    bottom: 32px;
}
.swiper-container-horizontal>.type-pagination {
    bottom: 18px;
}
.swiper-container-horizontal>.repair-services-pagination {
    bottom: 10px;
}

.repaired-devices-title {
    min-height: 56px;
    margin: 0 -16px;
    padding: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $DarkGray;
    background: linear-gradient(90deg, #F8F8F8, $white);
    border-top: 1px solid $Azure-color;
}
.types-container {
    height: 228px;
}
.type {
    display: block;
    height: 160px;
}

.dropdown {
    position: absolute;
    right: 16px;
    bottom: 16px;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid $DeepPink	;
    border-radius: 20px;
    &__icon {
        width: 8px; 
        height: 12px;
        fill: $DeepPink	;
    }
}

.service-prices {
    &__info {
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }

    &__link {
        & > span {
            margin-left: 10px; 
            vertical-align: middle; 
        }
        &:hover,
        &:focus {
            color: $DeepPink	;
        }
        &:active {
            color: $red; 
        }
    }
}
.repair-services-container {
    height: 260px;
}

.card {
    position: relative;
    height: 200px;
    padding: 16px;
    background: $white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    border-radius: 6px;

    &__title {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: normal;
        color: $DarkGray;
        opacity: 0.72;
    }
    &__type-service,
    &__price,
    &__duration {
        margin-bottom: 16px;
    }
    
    & .btn-dropdown {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}


.footer {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $DarkGray;
    opacity: 0.72;
		&__item {
            margin-top: 16px;
        }
        &__item:last-child {
            margin-bottom: 16px;
        }
}
.layer-blur {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    opacity: 0.96;
    z-index: 9;

    &_active {
        display: block;
    }
}

.main-menu {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100%;
    background-color: $white;
    transition: all 0.2s ease-in;
    z-index: 10;
    &__container {
        position: relative;
        padding: 0 16px;
    }

    &__header {
        position: relative;
        padding: 24px 0 32px;
        &::before {
            content: "";
            position: absolute;
            height: 52px;
            width: 96px;
            left: 57px;
            top: 19px;
            background: url("../img/logos/logo.svg") no-repeat 0 0;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__search {
        display: none;
        padding: 24px 0 32px;
    }
    &__input {
        font-size: inherit;
        width: 220px;
        margin-right: 12px;
    }

    &__nav-list {
        margin-bottom: 32px;
    }

    &__nav-item {
        margin-bottom: 32px;
        cursor: pointer;
        
        &:hover,
        &:focus {
            color: $DarkGray;
        }
        &:active {
            color: $red;
        }
    }

    &__nav-link {
        display: block;
        width: 100%;
        transition: all .2s linear;

        &_active {
            color: $DarkGray;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: 0;
                display: inline-block;
                width: 4px;
                height: 32px; 
                margin-left: -16px;       
                background: url("../img/icons/highlight-mini.svg") no-repeat 0 center;
            }
            
        }
        &:hover,
        &:focus {
            color: $DarkGray;
        }
        &:active {
            color: $red;
        }
    }

}
.show-search-form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: $white;
}
.menu-open {
    transform: translateX(100vw);
}

.contacts {
    &__mail {
        display: block;
        margin: 16px 0 12px;
        &:focus,
        &:hover {
            color: $DarkGray;   
        }
        &:active {
            color: $DeepPink	;
        }
    }

    &__tel-cps {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        &:focus,
        &:hover {
            color: $DarkGray;   
        }
        &:active {
            color: $DeepPink	;
        }
    }
}
.lang {
    display: flex;
    &__link {
        margin-right: 7px;
        text-transform: uppercase;
        &:focus,
        &:hover {
            color: $DarkGray;   
        }
        &:active {
            color: $DeepPink	;
        }

        &_active {
            color: $DarkGray;
        }
    }
}
.modal-window {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100%;
    background-color: $white;
    transition: all 0.2s ease-in;
    z-index: 10;
		&__container {
            padding-top: 24px;
		}

		&__title {
            position: relative;
            margin: 40px 0 24px;
            font-size: 24px;
            line-height: 32px;
		}

		&__form {
            display: flex;
            flex-direction: column;
		}

		&__input {
            margin-bottom: 16px;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #B5B6BC;
            border: 1px solid #EAEAEA;
            border-radius: 8px;
		}

		&__warning-text {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 16px;
            color: $DarkGray;
            & > a {
                color: $DeepPink	;
            }
		}

		&__btn-wrapper {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 75px;
            & .btn-dropdown {
                min-width: 136px;
            }
		}
}
.modal-window-open {
    transform: translateX(-100vw);
}

@import "media.scss";