.repaired-devices {
    margin: 0 -16px;
    border-bottom: 1px solid #D9FFF5;
}
.link-slider-title {
    padding: 16px;
    min-height: 56px;
    font-weight: 400;
    color: #7E7E82;
    text-transform: uppercase;
    background: linear-gradient(90deg, #F8F8F8, #fff);
    border-top: 1px solid #D9FFF5;
}
.link-slider {
    position: relative;
    
    padding: 16px 0 16px 16px;
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0;
        width: 24px;
        height: 100%;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        pointer-events: none;
        z-index: 10;
    }

    &__slide {
        width: 240px !important;
    }

    &__link {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px 16px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        border-radius: 6px;
        color: inherit;
        &::after {
            position: absolute;
            bottom: 16px;
            right: 16px;
            content: "";
            width: 40px;
            height: 40px;
            background: url("../img/dropdown.png") center center no-repeat;
            border: 2px solid #FF3E79;
            border-radius: 20px;
        }
        &:focus,
        &:hover {
            box-shadow:inset 0 0 5px #B8FFEC;
        }
    }
}
.brands-container {
    height: 154px;
}
.brand {
    align-items: center;
    height: 72px;
    & img {
        width: auto;
    }
}
.types-container {
    height: 228px;
}
.type {
    height: 160px;
}
.repair-services-container {
    height: 260px;
}
.repair-services {
    height: 200px;
    width: 260px !important;
}
.card {
    position: relative;
    height: 200px;
    padding: 16px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    border-radius: 6px;
    &__title {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: normal;
        color: #7E7E82;
        opacity: 0.72;
    }
    &__type-service,
    &__price,
    &__duration {
        margin-bottom: 16px;
    }

}
.btn-to-oder {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 32px;
}
.swiper-container-horizontal>.type-pagination {
    bottom: 18px;
}
.swiper-container-horizontal>.repair-services-pagination {
    bottom: 10px;
}

.show-more-label {
    display: none;
    margin: 24px 32px 32px;
}
.show-more-label::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 11px;
    background: url("../img/more.png") no-repeat 0 center;
    background-size: cover;
}
.show-more-label::after {
    content: "Показать все";
    margin-left: 16px;
    
}
.show-more-checkbox:focus ~ .show-more-label,
.show-more-checkbox:hover ~ .show-more-label {
    filter: drop-shadow(0 0 1px #00bfff);
}
.show-more-checkbox:checked + .brands-container,
.show-more-checkbox:checked + .types-container {
    height: auto;
}
.show-more-checkbox:checked ~ .show-more-label::before {
    transform: rotate(180deg);
}
.show-more-checkbox:checked ~ .show-more-label::after {
    content: "Свернуть";
}

.service-prices {
    &__text {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    &__link {
        display: block;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;

        &::after {
            display: inline-block;
            width: 8px;
            height: 24px;
            margin-left: 16px;
            vertical-align: middle;
            content: "";
            background: url("../img/dropdown.png") center center no-repeat;
        }
    }
}

@media only screen and (min-width: 360px){
    .repaired-devices {
        margin: 0 -24px;
    }
    .link-slider-title {
        padding-left: 24px;
    }
    .link-slider {
        padding: 24px 0 24px 24px;
    }
}
@media only screen and (min-width: 768px){
    .brands-container,
    .types-container {
        height: 208px;
    }

    .link-slider {
        overflow: hidden;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        &__slide {
            width: 224px !important;
            margin-right: 24px;
            margin-bottom: 16px;
        }
    }
    .show-more-label {
        display: block;
    }
    .swiper-pagination {
        display: none;
    }
    .repair-services {
        height: auto;
        width: auto !important;
        margin: 0 !important;
        border-bottom: 1px solid #EAEAEA;
        &:last-child {
            border-bottom: none;
        }
        & .card__title {
            display: none;
        }
    }
    .repair-services-container {
        height: auto;
        overflow: auto;
        padding-right: 24px;
        border-radius: 6px;
        & > .card[hidden] {
            display: flex;
        }
        & > .card {

            background-color: inherit;
            padding-left: 16px;
            padding-right: 180px;
        }

    }
    .repair-services-wrapper {
        display: flex;
        flex-direction: column;
        width: auto !important;
        height: auto !important;
        padding: 0 16px;
        background-color: white;
        border-radius: 6px;
    }

    .card {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        padding-right: 160px;
        border-radius: 0px;
        height: 64px;
        &__type-service,
        &__price,
        &__duration {
            margin-bottom: 0;
        }
        &__type-service {
            min-width: 348px;
        }
        &__price {
            min-width: 74px;
        }
        &__duration {
            min-width: 81px;
        }
    
    }
    .btn-to-oder {
        right: 0px;
    }
}
@media only screen and (min-width: 1120px){
    .repaired-devices {
        margin: 0 -32px;
    }
    .link-slider-title {
        padding-left: 32px;
    }
    .link-slider {
        padding: 32px;
        &__slide {
            margin-right: 32px;
        }
    }
    .service-prices > .container {
        padding: 0 32px;
    }

}
@media only screen and (min-width: 1440px){
    .link-slider {
        &__slide {
            width: 240px !important;
        }
    }
    .repair-services {
        width: auto !important;
    }
}

    

